.git
.gitignore
.phpunit.cache
var/
vendor/
public/bundles/
public/assets/
assets/vendor/
.env.local
.env.local.php
.env.*.local
config/secrets/prod/prod.decrypt.private.php
tests/
phpunit.xml
phpunit.dist.xml
Dockerfile
compose*.yaml
*.md
Caddyfile
Domainfile
run.sh
